
/* por que si */
.float-left{
    float:left;
}
.float-right{
    float:right;
}
/* Tamanio de el icono de el navBar */
.big-icon{
    font-size:30px;
}
.nav-line{
    font-size:21px;
    color:white;
}
/* navbar font-size */
.nav-text{
    font-size:14px;
}


.rotated {
    transform: rotate(90deg);
  }

.cuentas-container {
    background: #fff !important;
    padding: 30px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #000 !important;
}
/* botton de salir */
.log-out{
color:white !important;
background-color: #E74C3C;
}
.log-out:hover{
    color:white !important;
    background-color: #E74C3C;
    }
/* estilo de dropdown */

.logOutAria{
position: absolute; 
will-change: transform;
top: 0px; 
left: 0px;
transform: translate3d(0px, 39px, 0px);
}

.dropdown-width{
    min-width:10rem;
}
 /*estilos de la creacion de anuncios*/

 .crear-div{
     text-align: center;
     padding:10px;
 }
 .crear-div2{
    text-align: none;
    padding:10px;
    width:500px;
}

select.btn-mini {
    height: auto;
    line-height: 20px;
}
/*  div de cabecera */
.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
}

/*dropdown del menu principal*/
.drpespecial{
    padding-right: 0px;
    position: relative;
}

.dropdown-toggle::after{
    position: absolute;
    right: 10px;
    top: 50%;
    display: none;
}
                   /* el min de pixeles para aplicar esta condicion */
@media screen and (min-width: 1024px){
    .drpespecial{
        padding-right: 17px;
        position: relative;
    }

    .dropdown-toggle::after{
        display:inline-block;
    }
}

/* estilos todas_paginas */
li.black_circle {
    list-style-type: inherit;
    line-height: 50%;
}
div.estilo-border{
    border-style: double;
}

div.estilo-border-encabezado{
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-style: groove;
    border-radius: 10px;
}

/* publicacion por categorias */
div.estilo-border-sub{
    border-style: outset;
    border-color: grey;
    border-width: 7px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
