html{
    height: 100%;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    min-height: 95%;
}
/* por que si */
.float-left{
    float:left;
}
.float-right{
    float:right;
}
/* Tamanio de el icono de el navBar */
.big-icon{
    font-size:30px;
}
.nav-line{
    font-size:21px;
    color:white;
}
/* navbar font-size */
.nav-text{
    font-size:14px;
}


.rotated {
    transform: rotate(90deg);
  }

.cuentas-container {
    background: #fff !important;
    padding: 30px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #000 !important;
}
/* botton de salir */
.log-out{
color:white !important;
background-color: #E74C3C;
}
.log-out:hover{
    color:white !important;
    background-color: #E74C3C;
    }
/* estilo de dropdown */

.logOutAria{
position: absolute; 
will-change: transform;
top: 0px; 
left: 0px;
transform: translate3d(0px, 39px, 0px);
}

.dropdown-width{
    min-width:10rem;
}
 /*estilos de la creacion de anuncios*/

 .crear-div{
     text-align: center;
     padding:10px;
 }
 .crear-div2{
    text-align: none;
    padding:10px;
    max-width:500px;
}

select.btn-mini {
    height: auto;
    line-height: 20px;
}
/*  div de cabecera */
.disabled
{
  pointer-events: none;
}
/*previe de img en prevista*/

#image-preview{
    display:none;
    width : 250px;
    height : 200px;
    padding-top: 20px;


}
/*div informcion de administrar*/

#misAnuncios{
    padding:15px;
    margin:15px;
    max-width: 750px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0; 
    border-radius: 20px; 
}

#miInfo{
    padding:15px;
    margin:15px;
    max-width: 275px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0;  
    max-height:250px;   
    border-radius: 20px; 

}
.anunciosDeUsuario{
    background-color:white;
    max-width: 700px;

    padding:10px;
    margin:10px;  
    border-radius: 20px;
}

/* fecha diminuta */
.small{
    font-size: 12px;
}

.two{
    display: none;
}

@media only screen and (max-width: 450px) {
    .one{
        display: none;
    }
    .two{
        display: block;
    }
}

.table-hidden{
    display: none;
}
.table-show{
    display: block;
}
  /* for "disabled" effect */

/*div informcion de administrar*/

#misAnuncios{
    padding:15px;
    margin:15px;
    max-width: 750px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0; 
    border-radius: 20px; 
}

#miInfo{
    padding:15px;
    margin:15px;
    max-width: 275px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0;  
    max-height:250px;   
    border-radius: 20px; 

}
.anunciosDeUsuario{
    background-color:white;
    max-width: 700px;

    padding:10px;
    margin:10px;  
    border-radius: 20px;
}

/* fecha diminuta */
.small{
    font-size: 12px;
}

.two{
    display: none;
}

@media only screen and (max-width: 450px) {
    .one{
        display: none;
    }
    .two{
        display: block;
    }
}

.table-hidden{
    display: none;
}
.table-show{
    display: block;
}
  /* for "disabled" effect */

/*dropdown del menu principal*/
.drpespecial{
    padding-right: 0px;
    position: relative;
}

.dropdown-toggle::after{
    position: absolute;
    right: 10px;
    top: 50%;
    display: none;
}
                   /* el min de pixeles para aplicar esta condicion */
@media screen and (min-width: 1024px){
    .drpespecial{
        padding-right: 17px;
        position: relative;
    }

    .dropdown-toggle::after{
        display:inline-block;
    }
}

/* estilos todas_paginas */
li.black_circle {
    list-style-type: inherit;
    line-height: 50%;
}
div.estilo-border{
    border-style: double;
}

div.estilo-border-encabezado{
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-style: groove;
    border-radius: 10px;
}

/* publicacion por categorias */
div.estilo-border-sub{
    border-style: outset;
    border-color: grey;
    border-width: 7px;
    border-radius: 20px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;    
}

/* vista de anuncio */
p.price{
    float: right;
}

div.anuncio-ver{
    padding: 50px;
}

div.anuncio-ver2{
    padding: 50px;
    margin-top: 50px;
}

span.color{
    color: blue;
}
.espaciadoDeAnuncio{
    margin-bottom: -3px;
    
}

/* styles for '...' */ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 2.4em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }


/* textarea */
textarea{
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
}

input.sub{
    padding-left: 50px;
    padding-right: 50px;
}

/* tabs de anuncio */

div.perfilPequeno{
    padding: 10px;
}
p.contactar{
    margin-bottom: 0px;
}
input.espaciado{
    margin-bottom: 20px;
}

/* publicidad */
div.espacioEntrePublicidad{
    margin-top: 30px;
    padding: 150px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cac7c7;
  }
  
/*estilo de fornt de jorge */
.btn-dark {border-color: #1d2124};


.btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1) !important;
}

.link-unstyled {
     font-style: inherit;
     color: inherit;
     background-color: transparent;
     font-size: inherit;
     text-decoration: none;
     font-variant: inherit;
     font-weight: inherit;
     line-height: inherit;
     font-family: inherit;
     border-radius: inherit;
     border: inherit;
     outline: inherit;
     box-shadow: inherit;
     padding: inherit;
     vertical-align: inherit;
 }

 .demo-2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
  }
  
