
/* por que si */
.float-left{
    float:left;
}
.float-right{
    float:right;
}
/* Tamanio de el icono de el navBar */
.big-icon{
    font-size:30px;
}
.nav-line{
    font-size:21px;
    color:white;
}
/* navbar font-size */
.nav-text{
    font-size:14px;
}


.rotated {
    transform: rotate(90deg);
  }

.cuentas-container {
    background: #fff !important;
    padding: 30px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px #000 !important;
}
/* botton de salir */
.log-out{
color:white !important;
background-color: #E74C3C;
}
.log-out:hover{
    color:white !important;
    background-color: #E74C3C;
    }
/* estilo de dropdown */

.logOutAria{
position: absolute; 
will-change: transform;
top: 0px; 
left: 0px;
transform: translate3d(0px, 39px, 0px);
}

.dropdown-width{
    min-width:10rem;
}
 /*estilos de la creacion de anuncios*/

 .crear-div{
     text-align: center;
     padding:10px;
 }
 .crear-div2{
    text-align: none;
    padding:10px;
    width:500px;
}

select.btn-mini {
    height: auto;
    line-height: 20px;
}
/*  div de cabecera */
.disabled
{
  pointer-events: none;
}
/*previe de img en prevista*/

#image-preview{
    display:none;
    width : 250px;
    height : 200px;
    padding-top: 20px;

}
/*div informcion de administrar*/

#misAnuncios{
    padding:15px;
    margin:15px;
    max-width: 750px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0; 
    border-radius: 20px; 
}

#miInfo{
    padding:15px;
    margin:15px;
    max-width: 275px;
    background-color:rgba(134, 156, 170, 0.486); 
    top:0;  
    max-height:250px;   
    border-radius: 20px; 

}
.anunciosDeUsuario{
    background-color:white;
    max-width: 700px;

    padding:10px;
    margin:10px;  
    border-radius: 20px;

}
/* fecha diminuta */
.small{
    font-size: 12px;
}

.two{
    display: none;
}

@media only screen and (max-width: 450px) {
    .one{
        display: none;
    }
    .two{
        display: block;
    }
}

.table-hidden{
    display: none;
}
.table-show{
    display: block;
}